<div class="jumbotron">
	<h1>Team</h1>
	<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
	<p>We are glad to start using Rails for our first App!</p>
	<div class="list-group">
	  <a href="#" class="list-group-item active">
	    TEAM MEMBERS
	  </a>
	  <a href="#" class="list-group-item">Antonio</a>
	  <a href="#" class="list-group-item">Rafael</a>
	  <a href="#" class="list-group-item">Santiago</a>
	</div>
</div>